.container {
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px 50px;
  margin: 100px auto;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: rgb(48, 98, 48);
}
h2 {
  font-weight: 400;
}
.today-date,
.birth-date {
  width: 60%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(254, 244, 226);
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}
.youAge {
  font-size: 20px;
  font-weight: 200;
  color: green;
}
.btn {
  padding: 10px 20px;
  background-color: aqua;
  text-align: center;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
/* *************************************** */
/* year design start here */
/* *************************************** */
.main-pop {
  width: 400px;
  height: auto;
  background-color: beige;

  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.year-head,
.month-head,
.day-head {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.year-wrap,
.month-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  height: 300px;
  width: 400px;
  overflow-y: auto;
}
.year-sinlge,
.month-single,
.day-single {
  padding: 20px;
  background-color: rgb(109, 99, 99);
  color: #fff;
  cursor: pointer;
}
.day-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
  height: 300px;
  width: 400px;
  overflow-y: auto;
}
/* year style end here */

.year {
  display: none;
}
.month {
  display: none;
}

.day {
  display: none;
}
